<h1 mat-dialog-title>Add product</h1>

<div mat-dialog-content>
    <form [formGroup]="formGroup">
        <mat-form-field class="formfield" appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name">
        </mat-form-field>

        <br>

        <mat-form-field class="formfield" appearance="fill">
            <mat-label>Image Source</mat-label>
            <input matInput formControlName="imageSrc">
        </mat-form-field>

        <br>

        <mat-form-field class="formfield" appearance="fill" floatLabel="always">
            <mat-label>Amount</mat-label>
            <input matInput type="number" class="price" placeholder="0" formControlName="price">
            <span matPrefix>$&nbsp;</span>
            <span matSuffix>.00</span>
          </mat-form-field>
    </form>
</div>

<div mat-dialog-actions>
    <button mat-flat-button color="primary" (click)="addProduct()">ADD</button>
</div>
