<mat-card class="product-card">
    <mat-card-title>{{ product.name }}</mat-card-title>
    <img [src]="product.imageSrc" mat-card-lg-image>
    <mat-card-content>
        <p>${{ product.price }}</p>
    </mat-card-content>
    <mat-card-actions>
        <button *ngIf="userData | async" class="mx-2" mat-flat-button color="primary" (click)="addProductToCart()">ADD TO CART</button>
        <button *ngIf="userData | async" class="mx-2" mat-flat-button color="accent" (click)="addLikedProduct()">LIKE</button>
        <button class="mx-2" mat-flat-button color="accent" (click)="buyNow()">BUY NOW</button>
    </mat-card-actions>
</mat-card>