<h1>Login</h1>

<form [formGroup]="formGroup">
    <mat-form-field class="formfield" appearance="outline">
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput>
    </mat-form-field>

    <br>

    <mat-form-field class="formfield" appearance="outline">
        <mat-label>Password</mat-label>
        <input formControlName="password" matInput [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide">
            <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
    </mat-form-field>

    <p>Not have an account? <a routerLink="/sign-up">Sign up</a></p>

    <button mat-flat-button color="primary" (click)="login()">LOG IN</button>
</form>