<app-carousel [images]="images"></app-carousel>

<!-- <mat-divider></mat-divider> -->

<h1>Welcome to <strong>Commerc</strong>!</h1>

<div class="main">
    <p>
        Commerc is an ecommerce app that built with Angular.
    </p>
    <a routerLink="/all-products">Click to see all products</a>
</div>

<br>

<div>
    <h2>Contact with us!</h2>

    <address>
        Commerc
        <p>
            1212 Test Address Avenue <br>
            Testington, OR 95282
        </p>
        <a href="tel:533.333.33.33">+1 (533) 333 33 33</a>
        <br>
        <a href="mailto:contact@commerc.com">contact@commerc.com</a>
    </address>
</div>